@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    background-color: rgb(131, 32, 32);
    font-family: "Roboto", sans-serif;
    padding: 0px;
}

body {
    display: grid;
    justify-content: space-around;
}

header {
    margin-top: 35px;
    display: grid;
    background-color: rgba(112, 0, 0, 0.685);
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.logo {
    margin-top: 50px;
    background-color: rgba(126, 0, 0, 0);
    width: 200px;
    height: 60px;
}

/*materiais*/
.menu {
    display: flex;
    overflow-x: auto;
}

div.menu {
    height: auto;
    width: 80vw;
    max-width: 1000px;
    min-width: 300px;
}

.imagem {
    margin-right: 10px;
    cursor: pointer;
}

.imagem img {
    max-width: 100px;
    /* Ajuste conforme necessário */
    width: 100px;
    /* largura desejada */
    height: 100px;
    /* altura desejada */
    object-fit: cover;
    /* para garantir que a imagem preencha a área e corte o excesso */

}

.imagem p {
    font-size: 12px;
    margin-top: 5px;
}

.imagem.selecionada {
    filter: brightness(70%);
    /* Ajuste o valor conforme necessário */
}

/*textos*/
.text1 {
    color: rgb(138, 138, 138);
    font-size: 12px;
}

.informacoes {
    font-size: 20px;
    color: rgb(66, 1, 1);
}

h2 {
    background-color: rgb(216, 216, 216);
    font-size: 15px;
    text-align: center;
    color: rgb(143, 0, 0);
}

p {
    font-size: 13px;
}

.infomedidas, .infomedidas1, .infomedidas2 {
    font-size: 12px;
    color: rgb(167, 167, 167)
}

/*coluna calculo*/
.colunacalculo {
    display: grid;
    padding: 0 20px 0 0;
    justify-content: space-evenly;
    align-items: baseline;
}

.colcalctampo {
    grid-column: 1;
    grid-row: 1;
    transform: translate(20px)
}

.colcalcsoleira {
    grid-column: 2;
    grid-row: 1;
    transform: translate(1px)
}

/*coluna resultado*/
.colunaresultado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 0px 0px 0px 0px;
}

div#soleira.soleira, div#tampo.tampo {
    display: grid;
    justify-items: center;

}

.colrestampo {
    grid-column: 1;
    grid-row: 1;
}

.colressoleira {
    width: auto;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
}

.cuba {
    font-size: 11px;
    color: rgb(184, 2, 2);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
}

/*coluna footer*/
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

.totalservico {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px;
    display: grid;
    grid-row: 1;
    height: fit-content;
    width: calc(100% - 10px);
    align-items: center;
}

.texttotal {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.whatsapp {
    display: grid;
    grid-row: 2;
    height: fit-content;
    width: calc(100% - 10px);
    border-radius: 0px 0px 8px 8px;
}

.whatsappbutton {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 179, 83);
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.hidden {
    display: none;
}

/*botões*/
.botao {
    width: 150px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

button#lista, button#listasoleira {
    padding: 5px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

.botaocalc {
    background-color: rgb(212, 115, 115);
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
}

li {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 0fr 0fr;
}

.infomedidas {
    display: flex;
    grid-column: 1;
    grid-row: 2;
}

.infomedidas2 {
    display: flex;
    grid-column: 1;
    grid-row: 2;
}

.botaoX {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    width: auto;
    height: auto;
    border-radius: 2px;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    background-color: rgba(211, 0, 0, 0.671);
}

.botaoX:hover {
    background-color: rgba(204, 102, 102, 0.671);
}

.botaoX:active {
    background-color: rgb(100, 29, 29);
}

button1 {
    width: 0;
    height: 0;
}


button {
    background-color: rgb(250, 138, 138);
    border: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 4px 10px;
}

button:hover {
    background-color: rgb(200, 100, 100);
}

button:active {
    background-color: rgb(150, 50, 50);
}

.conteudo, .tampo, p, div, li, span {
    background-color: rgb(233, 233, 233);
    border-color: rgb(255, 255, 255);
}

.conteudo, .tampo {
    padding: 10px;
}

div {
    padding: 5px;
}

.input {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border: 10px;
}

input[type="number"i] {
    padding-block: 2px;
    padding-inline: 4px;
    width: 200px;
    height: 20px;
}

/*detalhes*/
.barra {
    font-size: 10px;
}

.mensagem {
    display: none;
    color: red;
}

.input-error {
    animation: shake 0.4s ease-in-out 2;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(-5px);
    }

    25%, 75% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }
}
